<meta name="google-signin-client_id" content="401985229551-dqpv5920kik69iefs4scrdnns5p0kh5a.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>window.onbeforeunload = function(e){
      gapi.auth2.getAuthInstance().signOut();
    };</script>
<div class="nav-bar">
  <ul class="nav-bar-list">
    <li class="nav-bar-item">
    <a <% if( pageTitle==="Home"){ %>class= "active" <% } %> href="/">Home</a>
    </li>
    <li class="nav-bar-item">
      <a <% if( pageTitle==="Create Post"){ %>class= "active" <% } %> href="/create">Create Post</a>
      </li>
      <li class="nav-bar-item">
        <a <% if( pageTitle==="My Favorites"){ %>class= "active" <% } %> href="/favorites">My Favorites</a>
        </li>
    <% if(typeof user === 'undefined') {%>
      <li class="nav-bar-item">
        <a <% if( pageTitle==="Log In"){ %>class= "active"<% }%> href="/auth/LogIn">Log In</a>
      </li> 
      <li class="nav-bar-item">
        <a <% if( pageTitle==="SignUp"){ %>class= "active"<% }%> href="/auth/signUp">SignUp</a>
      </li>
      <li class="nav-bar-item">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </li>
      <%} else {%>
    <li class="nav-bar-item">
      <button onclick="logOut()">Log Out</button>
    </li> 
    <li class="nav-bar-item">
      <a <% if( pageTitle==="User's Zone"){ %>class= "active" <% } %> href="/mine"><%= user.username %>'s Zone </a>
      </li>
 
<% } %>
<li class="nav-bar-item">
  <form class="search" action="/find" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="text" name="word" placeholder="Search"
    value="<% if (typeof search!=="undefined") { %><%= search %><% } %>">
    <% if (typeof search!=="undefined") { %>
      <a href="/" id="clear-btn">x</a>
    <% } %> 
    <button type="submit" id="search-btn"><i class="fa fa-search fa-1x"></i></button>
  </form>
  
  </li>
  </ul>
  <ul class="nav-bar-list-small">
      <button id="menu-toggle">
        <i class="fa fa-bars fa-2x"></i>
      </button>
  </ul>
  <div id="side-bar" class="side-bar">
   <ul class="nav-bar-mobile-list">
    <li class="nav-bar-item">
      <a <% if( pageTitle==="Home"){ %>class= "active"<% } %>  href="/">Home</a>
    </li>
    <li class="nav-bar-item">
      <a <% if( pageTitle==="Create Post"){ %>class= "active" <% } %> href="/create">Create Post</a>
      </li>
      <li class="nav-bar-item">
        <a <% if( pageTitle==="My Favorites"){ %>class= "active" <% } %> href="/favorites">My Favorites</a>
        </li>
    <% if(typeof user === 'undefined') {%>
      <li class="nav-bar-item">
        <a <% if( pageTitle==="Log In"){ %>class= "active"<% }%> href="/auth/LogIn">Log In</a>
      </li> 
      <li class="nav-bar-item">
        <a <% if( pageTitle==="SignUp"){ %>class= "active"<% }%> href="/auth/signUp">SignUp</a>
      </li>
      <li class="nav-bar-item">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </li>
        <%} else {%>
      <li class="nav-bar-item">
        <button onclick="logOut()">Log Out</button>
      </li> 
      <li class="nav-bar-item">
        <a <% if( pageTitle==="User's Zone"){ %>class= "active" <% } %> href="/mine"><%= user.username %>'s Zone </a>
        </li>
  <% } %>
  <li class="nav-bar-item">
    <form class="search" action="/find" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="text" name="word" autocomplete="off" placeholder="Search"
      value="<% if (typeof search!=="undefined") { %><%= search %><% } %>">
      <% if (typeof search!=="undefined") { %>
        <a href="/" id="clear-btn">x</a>
      <% } %> 
      <button type="submit" id="search-btn"><i class="fa fa-search fa-1x"></i></button>
    </form>
    
    </li>
  </div>
  </ul>
</div>
<script>
  function logOut() {
    
    try{
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
  catch(err){
    console.log(err);
  }
    window.location.replace("/auth/logOut");
  }
  async function onSignIn (googleUser) {
  const idToken =googleUser.getAuthResponse().id_token;

  var profile = googleUser.getBasicProfile();
  
  const name = profile.getName();
  
 const email = profile.getEmail();
  
   try{ result = await fetch("/auth/logIn",{
    method:"POST",
    headers:{
      'Content-Type': 'application/json',
    },
    body:JSON.stringify({
      "googleIdToken":idToken,
      "username":name,
      "email":email,
      "_csrf":"<%= csrfToken %>"
    })
  });
  window.location.replace("/");
}
catch(err){
  console.log(err);
}
}
</script>
