<%- include("../include/head") %>
    
     <link type="text/css" rel="stylesheet" href="css/posts.css" /> 
  </head>

  <body>
    <%- include("../include/navigation") %>
    <div class="posts">
      <% posts.forEach(post=>{ %>
       
          <div class="card" >
            <form action="/edit/<%= post.id %>">
            <button class="edit" type="submit">
              <i class="fa fa-pencil-alt fa-2x"></i>
            </button>
          </form>
          <form action="/delete/<%= post.id %>">
            <button class="delete" type="submit">
              <i class="fa fa-trash-alt fa-2x"></i>
            </button>
          </form>
            <a href="/post/<%= post.id %> ">
          <div class="leading">
            <img src="<%= post.imageUrl%>" alt="<%= post.title %> ">
            
          </div>
          <div class="trailing">
            <h2 class="post-title">
              <%= post.title %> 
            </h2>
            <p class="location-p">
            <i class="fa fa-map-marker-alt fa-1x"></i>  <%= post.location %> 
            </p>
            <small class="post-price">
              ₹ <%= post.price %> 
            </small>
            <p class="desc"><%= post.description.substring(0,Math.min(130,post.description.length )) %> </p>
          </div>
        </a>
        </div>
      
      <% }) %> 
    
    </div>
    <%- include("../include/ending") %>