<%- include("../include/head") %>
    
     <link type="text/css" rel="stylesheet" href="css/posts.css" /> 
  </head>

  <body>
    <%- include("../include/navigation") %>
    <div class="posts">
      <% if (posts.length==0) { %>
       <p>No Posts found</p>
      <% } else { %>
      <% posts.forEach(post=>{ %>
        
          <div class="card"  >
            <% if(typeof user !== 'undefined') {%>
              <button class="fav <% if (post.isfav) { %>
               isfav
              <% } %>"onclick="toggleFav('<%= csrfToken %>',<%= post.id %>,this)" class="fav-btn">
                <i class="fa fa-heart fa-1x"></i>
              </button>
            
             
            <% } %>
            <a href="/post/<%= post.id %>">
          <div class="leading">
             
                
                <img src="/<%= post.imageUrl[0]%>" alt="<%= post.title %>">
              
            
          </div>
          <div class="trailing">
            <h2 class="post-title">
              <%= post.title %> 
            </h2>
            <p class="location-p">
            <i class="fa fa-map-marker-alt fa-1x"></i>  <%= post.area%>,
            <%= post.city %>,
            <%= post.state %>
            <%= post.country %>.  
            </p>
            <small class="post-price">
              ₹ <%= post.price %> 
            </small>
            <p class="desc"><%= post.description.substring(0,Math.min(130,post.description.length )) %> </p>
          </div>
        </a>
          </div>
      <% }) }%> 
    
    </div>
    <script src="js/posts.js"></script>
    <%- include("../include/ending") %>